@font-face {
	font-family:"Libre";
	src:url(Libre.otf) format("opentype");
}

@font-face {
	font-family:"OpenSans";
	src:url(OpenSans.ttf) format("truetype");
}

body {
	background-color:#D1C5F5;
	height:800px;
	font-size:16px;
}

#logo {
	position:fixed;
	z-index: 9;
	display: block;
	top:-42px;
	left:calc(50% - 98px);
	height:198px;
	width:198px;
	background-image:url(LSP.png);
	background-size:165px 165px;
	background-color:#fff;
	border-radius:96px;
	background-position:16px 37px;
	background-repeat:no-repeat;
}

#circle {
	position:fixed;
	z-index: 7;
	display: block;
	height:192px;
	width:192px;
	top:-32px;
	left:calc(50% - 96px);
	background-color:#fff;
	border-radius:96px;
	box-shadow:0 0 20px rgba(0,0,0,.35);
}

#menu {
	list-style-type:none;
	background-color:#fff;
	position:fixed;
	z-index: 8;
	display: block;
	top:0;
	padding:44px 0 68px;
	width:100%;
	margin-top:0;
	box-shadow:0 0 20px rgba(0,0,0,.35);
	}

#menu li {
	position:absolute;
	font-family:'Goudy Bookletter 1911',serif;
	font-size:20px;
	color:#222;
	position:fixed;
}

#menu li a {
	color:#000;
	text-decoration:none;
	background-color:#fff;
	padding:44px 20px 42px;
}

#menu li a:visited {
	color:#000;
}

#menu li:nth-child(1) {
	right:calc(50% + 224px);
}

#menu li:nth-child(2) {
	right:calc(50% + 128px);
}

#menu li:nth-child(3) {
	left:calc(50% + 128px);
}

#menu li:nth-child(4) {
	left:calc(50% + 214px);
}

#rightcol {
	display: block;
	height: auto;
	width: 35%;
	background-color: #ffffff;
	position: fixed;
	top: 175px;
	left: 65%;
	max-width: 275px;
	margin-right: 2%;
	box-shadow:0 0 15px rgba(0,0,0,.2);
}

#rightcol img  {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

#rightcol a.purchasebutton {
	width: 58% !important;
	padding: 3px 0px;
	font-family: "OpenSans", sans-serif;	
}

#newbook {
	text-align: center;
}

#rightcol h1 {
		font-family: "OpenSans", sans-serif;		
		line-height: 1.4;
		margin-top: 5px;
		margin-bottom: -10px;
		padding: 2%;
		font-size: 22px;
}

#leftcol {
	display: block;
	height: auto;
	width: 60%;
	margin-top: 175px;
	position: absolute;
	right: 36%;
	max-width: 575px;
}

p, .bookinfo, ul {
	background-color: white;
	padding: 2%;
	margin: 0px;
	margin-bottom: 2%;
	font-family: "OpenSans", sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #222;
	font-weight: 200;
	list-style-type: none;
	box-shadow:0 5px 15px rgba(0,0,0,.2);
}

#rightcol p {
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	text-align: left;
	margin: 2%;	
}

#about p img {
	width:30%;
}

.bookinfo {
	min-height: 300px;
}

.bookinfo h1 {
	font-size: 22px;
	line-height: 1;
	color: #222;
	list-style-type: none;
	font-style: italic;
	font-weight: 600;
}

.bookinfo h4 {
		font-size: 16px;
	line-height: 1.4;
	color: #222;
	list-style-type: none;
	font-style: italic;
	font-weight: 200;
}

.bookinfo .bookinfoleft {
	width: 25%;
	float: left;
}

.bookinfo img {
	width: 90%;
}

a.purchasebutton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    width: 90%;
    text-align: center;
	background-color:#fce99d;
	border:1px solid #ad9948;
	border-radius:2px;
	box-shadow:0 2px 5px rgba(0,0,0,.1);
	padding:3px 0px;
}

a.purchasebutton:hover {
	background-color:#fff3c5;
	border:1px solid #e1ca6d;
}

a.purchasebutton:active {
	background-color:#dcc772;
	border:1px solid #88762c;
}

a.purchasebutton {
	cursor:pointer;
}


#logo:active {
	background-color:#f2ebf5;
}

#menu li a:active {
	background-color:#f2ebf5;
}

#contact li {
	margin-bottom:10px;
	margin-left:10px;
}

#contact li:first-child {
	margin-top:10px;
}

#contact li a {
	font-family:"OpenSans";
	color:#222;
}

#footer {
	display: block;
	color:#222;
	background-color:#fff;
	padding:15px;
	text-align:center;
	font-family:'OpenSans',sans-serif;
	box-shadow:0 0 15px rgba(0,0,0,.1);
}

.mailform {
	font-family:"OpenSans";
	float:right;
	clear:right;
}

form {
	padding:3.5%;
}

.mailform input {
	width:100%;
	margin-bottom:10px;
}

.mailinputs {
	color:#999;
	font-style:italic;
}

#commentfield {
	padding-bottom:4em;
	width:100%;
}

@media (max-width: 750px) {
	#body {
		width:700px;
		font-size:18px;
	}
	
	.bookinfo h2 {
		font-size:18px;
	}
	
	#menu {
		padding:38px 0 74px;
	}
	
	#menu li {
		font-size:24px;
	}
	
	#menu li a {
		padding:42px 20px 36px;
	}
	
	#menu li:nth-child(1) {
		right:calc(50% + 235px);
	}
	
	#menu li:nth-child(4) {
		left:calc(50% + 235px);
	}
	
	.bookinfo {
		width:100%;
	}
	
	#contact {
		margin-left:auto;
		margin-right:auto;
		width:90%;
	}
	
	#contact ul {
		width:38%;
		height:235px;
		margin:0;
		padding:3% 2% 1%;
		margin-left:8%;
		margin-right:4%;
	}
	
	#contact form input {
		width:100%;
		margin-bottom:10px;
	}
	
	#contact #commentfield {
		padding-bottom:3em;
	}
	
}