@font-face {
	font-family:"Libre";
	src:url(Libre.otf) format("opentype");
}

@font-face {
	font-family:"OpenSans";
	src:url(OpenSans.ttf) format("truetype");
}

body {
	background-color:#D1C5F5;
	height:800px;
	font-size:16px;
}

#logo {
	position:absolute;
	top:-42px;
	left:calc(50% - 98px);
	height:198px;
	width:198px;
	background-image:url(LSP.png);
	background-size:165px 165px;
	background-color:#fff;
	border-radius:96px;
	background-position:16px 37px;
	background-repeat:no-repeat;
	z-index:2;
}

#circle {
	position:absolute;
	height:192px;
	width:192px;
	top:-32px;
	left:calc(50% - 96px);
	background-color:#fff;
	border-radius:96px;
	box-shadow:0 0 15px rgba(0,0,0,.1);
	z-index:-1;
}

#menu {
	list-style-type:none;
	background-color:#fff;
	position:absolute;
	top:0;
	padding:44px 0 68px;
	width:100%;
	margin-top:0;
	box-shadow:0 0 15px rgba(0,0,0,.1);
	z-index:-1;
}

#menu li {
	position:absolute;
	font-family:'Goudy Bookletter 1911',serif;
	font-size:20px;
	color:#222;
}

#menu li a {
	color:#000;
	text-decoration:none;
	background-color:#fff;
	padding:44px 20px 42px;
}

#menu li a:visited {
	color:#000;
}

#menu li:nth-child(1) {
	right:calc(50% + 224px);
}

#menu li:nth-child(2) {
	right:calc(50% + 128px);
}

#menu li:nth-child(3) {
	left:calc(50% + 128px);
}

#menu li:nth-child(4) {
	left:calc(50% + 214px);
}

#colcontainer {
	width:950px;
	max-width:95%;
	height:1000px;
	margin-top:200px;
	margin-left:auto;
	margin-right:auto;
}

#leftcol p {
	display:inline-block;
	color:#222;
	width:62%;
	height:auto;
	background-color:#fff;
	margin-left:0;
	margin-top:0;
	box-shadow:0 5px 15px rgba(0,0,0,.1);
	border-radius:2px;
	padding:1.5%;
}

#leftcol ul {
	display:inline-block;
	width:62%;
	height:auto;
	background-color:#fff;
	margin-left:0;
	margin-top:0;
	box-shadow:0 5px 15px rgba(0,0,0,.1);
	border-radius:2px;
	padding:1.5%;
	list-style-type:none;
	color:#222;
}

.bookinfo {
	display:inline-block;
	color:#222;
	width:62%;
	height:auto;
	background-color:#fff;
	margin-left:0;
	margin-top:0;
	box-shadow:0 5px 15px rgba(0,0,0,.1);
	border-radius:2px;
	padding:1.5%;
}

#rightcol {
	display:inline-block;
	width:33%;
	height:auto;
	background-color:#fff;
	margin-right:0;
	margin-bottom:2%;
	float:right;
	box-shadow:0 5px 15px rgba(0,0,0,.1);
	border-radius:2px;
	color:#222;
}

#rightcol.big p {
	margin:15px;
}

#laurel {
	width:62%;
	background-color:#fff;
	box-shadow:0 5px 15px rgba(0,0,0,.1);
	padding:1.5%;
	margin-bottom:2%;
	border-radius:2px;
}

#newbook {
	width:60%;
	display:block;
	margin:15px auto;
	box-shadow:0 2px 5px rgba(0,0,0,.1);
	border-radius:2px;
}

#purchasebutton {
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color:#fce99d;
	border:1px solid #ad9948;
	border-radius:2px;
	box-shadow:0 2px 5px rgba(0,0,0,.1);
	padding:3px 8px;
}

#purchasebutton a {
	text-decoration:none;
	color:#000;
}

#purchasebutton:hover {
	background-color:#fff3c5;
	border:1px solid #e1ca6d;
}

#purchasebutton:active {
	background-color:#dcc772;
	border:1px solid #88762c;
}

#purchasebutton,#purchasebutton:hover,#purchasebutton a,#purchasebutton a:hover,#purchasebutton:active,#purchasebutton a:active {
	cursor:pointer;
}

p {
	font-family:"OpenSans";
	color:#222;
}

#main {
	display:block;
}

#works,#press,#about,#contact {
	display:none;
}

#logo:active {
	background-color:#f2ebf5;
}

#menu li a:active {
	background-color:#f2ebf5;
}

.quote {
	font-style:italic;
}

#contact li {
	margin-bottom:10px;
	margin-left:10px;
}

#contact li:first-child {
	margin-top:10px;
}

#contact li a {
	font-family:"OpenSans";
	color:#222;
}

.bookinfo {
	margin-bottom:15px;
}

.bookinfo #left {
	width:25%;
	float:left;
	margin-right:2%;
	height:100%;
}

.bookinfo #right {
	width:70%;
	float:right;
}

.bookinfo img {
	width:100%;
}

.bookinfo #left button {
	margin-top:10px;
}

.bookinfo h1 {
	font-family:"OpenSans";
	color:#222;
	font-size:24px;
	margin-top:5px;
	margin-bottom:-5px;
}

.bookinfo h2 {
	font-family:"OpenSans";
	color:#222;
	font-size:16px;
	font-style:normal;
	font-weight:200;
	font-style:italic;
}

#laurelsmall {
	display:none;
	visibility:hidden;
}

#rightcol h1 {
	display:none;
	visibility:hidden;
}

#rightcol.hideable {
	display:none;
	visibility:hidden;
}

#footer {
	color:#222;
	background-color:#fff;
	padding:15px;
	text-align:center;
	font-family:'OpenSans',sans-serif;
	box-shadow:0 0 15px rgba(0,0,0,.1);
}

.mailform {
	font-family:"OpenSans";
	float:right;
	clear:right;
}

form {
	padding:3.5%;
}

.mailform input {
	width:100%;
	margin-bottom:10px;
}

.mailinputs {
	color:#999;
	font-style:italic;
}

#commentfield {
	padding-bottom:4em;
	width:100%;
}

#contact form {
	display:none;
	visibility:hidden;
}

@media (max-width: 750px) {
	#body {
		width:700px;
		font-size:18px;
	}
	
	.bookinfo h2 {
		font-size:18px;
	}
	
	#menu {
		padding:38px 0 74px;
	}
	
	#menu li {
		font-size:24px;
	}
	
	#menu li a {
		padding:42px 20px 36px;
	}
	
	#menu li:nth-child(1) {
		right:calc(50% + 235px);
	}
	
	#menu li:nth-child(4) {
		left:calc(50% + 235px);
	}
	
	#rightcol.big {
		display:none;
		visibility:hidden;
	}
	
	#rightcol.mailform {
		display:none;
		visibility:hidden;
	}
	
	#rightcol.hideable {
		display:block;
		visibility:visible;
	}
	
	#rightcol.hideable p {
		margin-left:25%;
	}
	
	#rightcol {
		width:100%;
		margin-bottom:2%;
		font-family:"OpenSans";
	}
	
	#rightcol img {
		width:20%;
		float:left;
		margin:2%;
	}
	
	#rightcol button {
		float:left;
		clear:left;
		width:17%;
		margin-left:4%;
		margin-bottom:2%;
	}
	
	#laurel {
		display:none;
		visibility:hidden;
	}
	
	#laurelsmall {
		display:inline-block;
		visibility:visible;
		float:right;
		width:50%;
		margin:1%;
	}
	
	#leftcol {
		margin-right:3%;
	}
	
	#leftcol p {
		width:100%;
		font-size:18px;
	}
	
	#rightcol h1 {
		display:block;
		visibility:visible;
		font-size:22px;
		font-style:italic;
		font-family:"OpenSans";
		margin-right:1%;
	}
	
	#rightcol p {
		margin-right:1%;
		font-size:18px;
	}
	
	.bookinfo {
		width:100%;
	}
	
	#contact {
		margin-left:auto;
		margin-right:auto;
		width:90%;
	}
	
	#contact ul {
		width:38%;
		height:235px;
		margin:0;
		padding:3% 2% 1%;
		margin-left:8%;
		margin-right:4%;
	}
	
	#contact form {
		font-family:"OpenSans";
		visibility:visible;
		display:inline-block;
		background:#fff;
		width:39%;
		height:235px;
		box-shadow:0 0 15px rgba(0,0,0,.1);
		margin:0;
		padding:2%;
		border-radius:2px;
	}
	
	#contact form input {
		width:100%;
		margin-bottom:10px;
	}
	
	#contact #commentfield {
		padding-bottom:3em;
	}
	
	#colcontainer {
		height:850px;
	}
}